/* 2-styles.css */

/* Existing styles */

/* Our results section */
.our-results {
  background-color: var(--bg-color);
  padding: 50px 20px;
  text-align: center;
}

.our-results h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
  color: var(--secondary-color);
}

.results {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.result {
  max-width: 300px;
  margin: 20px;
  text-align: center;
}

.result .icon {
  font-size: 3em;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.result h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: var(--secondary-color);
}

.result p {
  font-size: 1em;
  color: var(--secondary-color);
}

/* Mobile Styles */
@media (max-width: 480px) {
  /* Existing mobile styles */

  .results {
    flex-direction: column;
  }

  .result {
    margin: 20px auto;
  }
}
